.code-input
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace

.json-pointer-highlight
  color: #000

.input, .object, .output, .pointer
  width: 100%

.json-string
  &.has-pointer-match
    color: #bbb

textarea.code-input
  resize: vertical
