code, .code-input
  font:
    family: Menlo, Monaco, Consolas, "Courier New", monospace
    size: $input-text-font-size

.full-width
  width: 100%

.json-pointer-highlight
  color: #000

.json-string
  &.has-pointer-match
    color: #bbb

textarea.code-input
  resize: vertical

.title
  min-height: auto

  a
    text-decoration: none
