<div class="container">
  <header class="navbar navbar-default">
    {{#link-to "linter" class="navbar-brand"}}JSON Pointer Linter{{/link-to}}
  </header>
  <main class="row">
    {{outlet}}
  </main>
</div>
