{{textarea value=jsonObject}}

{{input value=jsonPointer}}

<h2>JSON object</h2>
<pre>
{{formattedJsonObject}}
</pre>

<h2>Object referenced by pointer</h2>
<pre>
{{formattedJsonPointerValue}}
</pre>
