{{textarea value=objectString}}

{{input value=pointer}}

<h2>JSON object</h2>
<pre>
<code>
{{stringifiedObject}}
</code>
</pre>

<h2>Object referenced by pointer</h2>

<pre>
<code>
{{stringifiedPointerObject}}
</code>
</pre>
